In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
#Read-in raw-data
path= "../Data/adultCensusIncome.csv"

raw_df= pd.read_csv(path)

**Clean Data**

In [3]:
#Replace ?'s with NaN
os.chdir("../EDA/")
from DataCleaningScripts.DataCleaning import find_missing_values, clean_columns

clean_df= find_missing_values(raw_df)

#Drop unecessary columns
clean_df= clean_columns(clean_df)

#update income
clean_df['income'] = clean_df['income'].apply(lambda x: 1 if x == ">50K" else 0)

In [4]:
#Check
clean_df.head(10)

,age,workclass,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,NaN,9,Widowed,NaN,Not-in-family,White,Female,0,4356,40,United-States,0
1,82,Private,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,0
2,66,NaN,10,Widowed,NaN,Unmarried,Black,Female,0,4356,40,United-States,0
3,54,Private,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,0
4,41,Private,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,0
5,34,Private,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,0
6,38,Private,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,0
7,74,State-gov,16,Never-married,Prof-specialty,Other-relative,White,Female,0,3683,20,United-States,1
8,68,Federal-gov,9,Divorced,Prof-specialty,Not-in-family,White,Female,0,3683,40,United-States,0
9,41,Private,10,Never-married,Craft-repair,Unmarried,White,Male,0,3004,60,NaN,1

In [5]:
#Save cleaned data 
path= "../Data/"

clean_df.to_csv(path + "adultCensusIncomeCleaned.csv")